{% extends "layouts.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div>
        <h1>Welcome to West Watch, {{ name.name }}!</h1>
        <br>
        <p id="index-para">Welcome to West Watch, a site where you can browse and evaluate course offerings at
            <br>Bentonville West High School and create a sample schedule.</p>
        <br>
        <h4>View <b>courses</b>, <b>evaluate</b> your courses,
            <br>select your <b>favorite</b> courses
            <br>and create your <b>schedule</b> now!</h4>
    </div>
    <br>
    <img class="wolverine" src="/static/wolverine1.jpeg" alt="logo1">
{% endblock %}