{% extends "layouts.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!-- Create form to send all registration info via POST -->
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="message" name="name" placeholder="First and Last Name" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="email" placeholder="Email" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <div class="form-group">
            <select class="form-control" name="grade">
                <option disabled selected value="none">Grade</option>
                <option value="9">9th Grade</option>
                <option value="10">10th Grade</option>
                <option value="11">11th Grade</option>
                <option value="12">12th Grade</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}